{
  "serialPort": "",
  "mqtt": {
    "host": "",
    "port": 0,
    "user": "",
    "pass": "",
    "interval": 0,
    "prefix": "",
    "notifications": [
      {
        "id": "",
        "register": 0
      }
    ]
  }
}