{
"devices": {
    "heat-meter": {
      "serialPort": "/dev/serial/by-id/aaa"
    },
    "hot-water-meter": {
      "serialPort": "/dev/serial/by-id/bbb"
    }
  },
  "mqtt": {
    "host": "",
    "port": 0,
    "user": "",
    "pass": "",
    "interval": 0,
    "prefix": "",
    "notifications": [
      {
        "id": "",
        "device": "heat-meter",
        "register": 0
      }
    ]
  }
}
